{% extends 'flats/base.html' %}

{% block title %}
Welcome to flats list
{% endblock %}


{% block content %}

<div class="flats-controls mx-auto mb-5" style="width: 600px; max-width: 100%">
    <div class="flats-filters">
        <div class="row">
            <div class="col">
                <form action="{% url 'flats_list' %}" class="filter-form d-flex flex-wrap justify-content-between pb-4"
                      id="filter"
                      method="post">
                    {% csrf_token %}
                    {{ form}}

                    <div class="filter-form-search w-100 pb-4">
                        <div class="input-group">
                            <input id="search_data" name="search_data" type="text" class="form-control"
                                   placeholder="Search"
                                   aria-label="Recipient's username" aria-describedby="button-addon2" form="filter">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" id="button-addon2">
                                    &#128269
                                </button>
                            </div>

                        </div>
                    </div>

                    <div class="filter-form-location" style="width: 50%">
                        <h4>Район:</h4>
                        {% for dist in district%}
                        <div class="form-check">
                            <input id="district" name="district" class="form-check-input" type="radio"
                                   value="{{dist.district}}" form="filter">
                            <label for="district" class="form-check-label">
                                {{dist.district}}
                            </label>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="row d-flex flex-column" style="width: 50%">
                        <div class="col mb-3">
                            <div class="filter-form-rooms">
                                <h4>Количество комнат:</h4>
                                {% for rooms in rooms_count%}
                                <div class="form-check">
                                    <input id="rooms_count" name="rooms_count" class="form-check-input"
                                           type="radio"
                                           value="{{rooms.rooms_count}}" form="filter">
                                    <label for="rooms_count" class="form-check-label">
                                        {{rooms.rooms_count}}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col">
                            <div class="filter-form-price">
                                <div class="input-group mb-2">
                                    <label for="price_from" class="input-group-prepend">
                                        <span class="input-group-text">UAH from</span>
                                    </label>
                                    <input id="price_from" name="price_from" type="number" class="form-control"
                                           aria-label="" form="filter" min="0">
                                </div>
                                <div class="input-group">
                                    <label for="price_to" class="input-group-prepend">
                                        <span class="input-group-text">UAH to</span>
                                    </label>
                                    <input id="price_to" name="price_to" type="number" class="form-control"
                                           aria-label=""
                                           form="filter" min="0">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="flats-sort">
        <div class="flats-sort d-flex justify-content-between">
            <form action="{% url 'sort_by_price_asc' %}" method="get">
                <button class="btn btn-outline-dark" name="filter_data" value="{{ filtered_infromation }}">
                    Цена &#x25BC
                </button>
            </form>
            <form action="{% url 'sort_by_price_desc' %}" method="get">
                <button class="btn btn-outline-dark" name="filter_data" value="{{ filtered_infromation }}">
                    Цена &#x25B2
                </button>
            </form>
            <form action="{% url 'sort_by_date_asc' %}" method="get">
                <button class="btn btn-outline-dark" name="filter_data" value="{{ filtered_infromation }}">
                    Дате добавления &#x25BC
                </button>
            </form>
            <form action="{% url 'sort_by_date_desc' %}" method="get">
                <button class="btn btn-outline-dark" name="filter_data" value="{{ filtered_infromation }}">
                    Дате добавления &#x25B2
                </button>
            </form>

        </div>
    </div>
</div>

<div class="flats-list">
    <div class="container">
        <div class="row">
            {% for contact in contacts %}
            {{ contact.full_name|upper }}

            <div class="col-6">
                <div class="card border-warning mb-3 p-2 text-center">
                    <div class="pb-2" style="height: 320px">
                        <img class="card-img img-fluid" src="{{ contact.image_url }}" style="width: 100%; height: 100%;"
                             alt="...">
                    </div>
                    <div class="">
                        <div class="card-body p-0">
                            <big>
                                <a class="card-title" href="{{ contact.url }}" title="{{ contact.title }}"
                                   style="color:#000000">{{ contact.title }}</a>
                            </big>
                            <hr>
                            <small class="card-text">{{ contact.description }}</small>
                            <hr>
                            <p class="card-text">
                                <small class="text-muted">Количество комнат - {{ contact.rooms_count }}</small>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Цена USD - {{ contact.price_usd }}</small>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Цена UAH - {{ contact.price_uah }}</small>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Район - {{ contact.district }}</small>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Код - {{ contact.sku }}</small>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Дата публикации - {{ contact.published_at }}</small>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            {% if contacts.has_previous %}
            <a class="page-link" href="?page={{ contacts.previous_page_number }}" tabindex="-1"
               aria-disabled="true">Previous</a>
            {% endif %}
        </li>

        {% if contacts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ contacts.previous_page_number }}">
            {{ contacts.previous_page_number }}</a></li>
        {% endif %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ contacts.number }}<span class="sr-only">(current)</span></a>
        </li>
        {% if contacts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ contacts.next_page_number }}">
            {{ contacts.next_page_number }}</a></li>
        {% endif %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">...</a>
        </li>
        {% if contacts.paginator.num_pages %}
        <li class="page-item"><a class="page-link" href="?page={{ contacts.paginator.num_pages }}">
            {{ contacts.paginator.num_pages }}</a></li>
        {% endif %}
        <li class="page-item">
            {% if contacts.has_next %}
            <a class="page-link" href="?page={{ contacts.next_page_number }}">Next</a>
            {% endif %}
        </li>
    </ul>
</nav>
{% endblock %}
