{% extends 'flats/base.html' %}

{% block title %}
Welcome to flats list
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <form id="filter" method="post">
                    {% csrf_token %}
                    {{ form}}
                    Район:
                    {% for dist in district%}
                    <div class="form-check">
                        <input id="district" name="district" class="form-check-input" type="checkbox" value="{{dist.district}}" form="filter">
                        <label for="district" class="form-check-label">
                            {{dist.district}} количество ({{dist.dcount}})
                        </label>
                    </div>
                    {% endfor %}
                    Количество комнат:
                    {% for rooms in rooms_count%}
                    <div class="form-check">
                        <input id="rooms_count" name="rooms_count" class="form-check-input" type="checkbox" value="{{rooms.rooms_count}}" form="filter">
                        <label for="rooms_count" class="form-check-label">
                        {{rooms.rooms_count}} количество ({{rooms.dcount}})
                        </label>
                    </div>
                    {% endfor %}
                    <div class="input-group mb-3">
                        <label for="price_from" class="input-group-prepend">
                            <span class="input-group-text">UAH from</span>
                        </label>
                        <input id="price_from" name="price_from" type="number" class="form-control" aria-label="" form="filter">
                    </div>
                    <div class="input-group mb-3">
                        <label for="price_to" class="input-group-prepend">
                            <span class="input-group-text">UAH to</span>
                        </label>
                        <input id="price_to" name="price_to" type="number" class="form-control" aria-label="" form="filter">
                    </div>

                    <button type="submit" form="filter" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<a href="{% url 'sort_by_price_asc' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Отсортировать по цене по убыванию</a>
<a href="{% url 'sort_by_price_desc' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Отсортировать по цене по возростанию</a>
<a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Отсортировать по дате добавления от самого первого</a>
<a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Отсортировать по дате добавления от последнего</a>



{% for contact in contacts %}
{{ contact.full_name|upper }}<br>
<div align="center">
    <div class="card border-warning mb-3" style="max-width: 70rem;">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <img src="{{ contact.image_url }}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <big>
                        <a class="card-title" href="{{ contact.url }}" title="{{ contact.title }}" style="color:#000000">{{ contact.title }}</a>
                    </big>
                    <hr>
                    <small class="card-text">{{ contact.description }}</small>
                    <hr>
                    <p class="card-text"><small class="text-muted">Количество комнат - {{ contact.rooms_count }}</small></p>
                    <p class="card-text"><small class="text-muted">Цена USD - {{ contact.price_USD }}</small></p>
                    <p class="card-text"><small class="text-muted">Цена UAH - {{ contact.price_UAH }}</small></p>
                    <p class="card-text"><small class="text-muted">Район - {{ contact.district }}</small></p>
                    <p class="card-text"><small class="text-muted">Код - {{ contact.sku }}</small></p>

                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

<nav aria-label="..." >
    <ul class="pagination justify-content-center" >
        <li class="page-item" >
            {% if contacts.has_previous %}
            <a class="page-link" href="?page={{ contacts.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
            {% endif %}
        </li>

        {% if contacts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ contacts.previous_page_number }}">{{ contacts.previous_page_number }}</a></li>
        {% endif %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ contacts.number }}<span class="sr-only">(current)</span></a>
        </li>
        {% if contacts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ contacts.next_page_number }}">{{ contacts.next_page_number }}</a></li>
        {% endif %}

        <li class="page-item">
            {% if contacts.has_next %}
            <a class="page-link" href="?page={{ contacts.next_page_number }}">Next</a>
            {% endif %}
        </li>
    </ul>
</nav>
{% endblock %}